# Application
API_PORT=8000

# Database (Postgres)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=bank_es_cqrs
# Example local URL: postgresql://postgres:postgres@db:5432/bank_es_cqrs
DATABASE_URL=postgresql://postgres:postgres@db:5432/bank_es_cqrs
